@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* general styling */

body {
  background-color: var(--prime-white);
}

/* nav */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 2em;
  transition: background-color 0.3s ease;
  z-index: 1000;
  font-family: "Playfair Display", serif;
}

header.scrolled {
  background-color: #d2c3b4;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu a {
  color: #000;
  text-decoration: none;
  margin-top: 2em;
  margin-bottom: 2em;
  transition: transform 0.3s ease;
}

.menu a:hover {
  transform: scale(1.1);
}

.logo img {
  height: 60px; /* justér størrelsen */
  width: auto;
}

.kurv {
  all: unset;
  display: inline-block;
  padding: 0.5em 1.5em;
  border: 1px solid #000;
  cursor: pointer;
  color: #000;
  transition: transform 0.3s ease;
  margin-right: 4rem;
}

.kurv:hover {
  transform: scale(1.2);
}

/* Hero image */

.hero-image img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 50%;
}

/* Content section - cards */
.cards {
  margin-top: 6rem;
}
.headline {
  display: flex;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}

.headline h1 {
  font-family: "Domine", serif;
  font-size: 35px;
  line-height: 150%;
  font-weight: 400;
  margin: 0 auto;
}

.content {
  margin: 2rem;
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 4rem;
}

.content p {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  margin: 2rem;
}

.content img {
  width: 50%;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  line-height: 150%;
  font-weight: 400;
  align-items: center;
}
.tekstafsnit {
  font-family: "Montserrat";
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}
.tekstafsnit p {
  line-height: 1.7;
}

/* BURGER ICON */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 2000;
}

.burger span {
  width: 25px;
  height: 3px;
  background-color: #000;
}

/* MOBILE DROPDOWN MENU */
.mobile-nav {
  position: absolute;
  top: 70px;
  right: 10px;
  background-color: #d2c3b4;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1500;
}

.mobile-nav a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  margin-right: 4rem;
}

.mobile-nav a:hover {
  transform: scale(1.1);
}

.mobile-nav.open {
  display: flex;
  margin-right: 4rem;
}

/* RESPONSIVE */
@media (max-width: 800px) {
  .menu {
    display: none;
  }

  .burger {
    display: flex;
    all: unset;
    display: inline-block;
    align-items: right;
  }
}

@media (max-width: 800px) {
  .headline h1 {
    font-family: "Domine", serif;
    font-size: 35px;
    line-height: 150%;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
  }
  .content {
    display: block;
    width: 95%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .content img {
    width: 90%;
    margin-bottom: 2rem;
  }

  .content p {
    margin: 0 1rem;
    margin-bottom: 2rem;
  }
}
