.footer img {
  max-width: 40%;
}

.flex_1-1 {
  display: flex;
  justify-content: space-between;
  margin: 0em 4em 0em 2em;
}

footer {
  background-color: #d2c3b4;
  padding: 4em;
}

img {
  max-width: 100%;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  margin-bottom: 10em;
  margin-top: 5em;
}

h2{
    margin-left: 3em;
    margin-top: 3em;
}
