* {
  margin: 0;
  padding: 0;
}

.footer img {
  max-width: 60%;
}

.flex_1-1 {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}
.Kontakt div {
  padding-top: 1em;
}

footer {
  background-color: #d2c3b4;
  padding: 2em;
}

img {
  max-width: 100%;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  margin-bottom: 10em;
  margin-top: 5em;
}

h2 {
  margin-left: 3em;
  margin-top: 3em;
}
