* {
  margin: 0;
  padding: 0;
}

.footer img {
  max-width: 60%;
}

.flex_1-1 {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

.Kontakt div {
  padding-top: 1em;
}

footer {
  background-color: #d2c3b4;
  padding: 2em;
}

img {
  max-width: 75%;
}

.grid_1-1-1 {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: 2em;
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 150%;
  font-weight: 400;
  margin-left: 15%;
}

.grid_1-1-1 p {
  /*margin-top: 0.5em;*/
}

h2 {
  margin-left: 2em;
  margin-top: 4em;
}

/* læg i kurv button */

button {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 6px;
  padding: 0.25rlh 0.5rlh;
  cursor: pointer;
  margin-top: 1em;
}

button:hover {
  background: #b38a6f;
}

button:active {
  scale: 0.98;
}

/* cards */

.card {
  position: relative;
}

.cardSoldout {
  position: relative;
  /*opacity: 0.6;*/
  overflow: hidden;
}

.card p {
  /* margin-top: 0.5em;*/
}

.cardSoldout p {
  margin-top: 0.5em;
}

/* priser */

.price {
  margin-top: 10px;
  font-size: 15px;
}

.oldprice {
  text-decoration: line-through;
  color: var(--prime-grey);
}

.newprice {
  color: red;
  font-weight: 600;
}

/* Rabat badge */

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--prime-grey);
  color: var(--prime-white);
  padding: 5px 10px;
}

/* Udsolgt 

.sold {
  position: absolute;
  top: 20px;
  right: -40px;
  background-color: #000;
  color: var(--prime-white);
  padding: 8px 50px;
  transform: rotate(45deg);
}
*/
/* hidden */
.productid {
  visibility: hidden;
}

.productcategory {
  visibility: hidden;
}

@media screen and (min-width: 780px) {
  .grid_1-1-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
