* {
  margin: 0;
  padding: 0;
}

/*general styling */

body {
  background-color: var(--prime-white);
}

main h2 {
  margin-top: 8rem;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  margin-left: 4rem;
}

/* Basket section */

.basket {
  margin-top: 2rem;
  width: 95%;
  padding-left: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.basket h2 {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}

.buyproductimg img {
  width: 70%;
}
