* {
  margin: 0;
  padding: 0;
}

/*general styling */

body {
  background-color: var(--prime-white);
  width: 100vw;
}

main h2 {
  margin-top: 8rem;
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  margin-left: 4rem;
}

main p {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  margin-left: 4rem;
  padding-bottom: 0.5rem;
}

main {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

/* Basket section */

.intro {
  margin-bottom: 2rem;
}
.cart {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 120px 1fr auto;
  gap: 20px;
}

.cart h2 {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.cart p {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}

.buyproductimg img {
  width: 120px;
  height: auto;
}

/* Quantity */

.quantity {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.quantity button {
  width: 20px;
  height: 20px;
  border: none;
}

.price {
  grid-template-columns: auto auto;
  justify-content: end;
}

/* total */

.total {
  width: 95%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  gap: 10px;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}

.total p {
  padding-right: 2rem;
}
/* Gå til betaling knap */

.checkout {
  padding: 15px 30px;
  background-color: var(--secondary-grey);
  border-radius: 6%;
  border: solid var(--prime-grey) 1px;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
}
