* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--prime-white);
}

/*Layout*/

#productContainer {
  width: 70%;
  margin: 0 auto;
  margin-top: 30%;
}

/* Overskrift*/

main h2 {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
}

/*styling af billedet*/

figure {
  display: flex;
}

figure .produktimg {
  width: 70%;
  margin: 0 auto;
  margin-top: 15%;
  padding-bottom: 2rem;
}

/* Produktdetaljer */

.productDetails h3 {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
}

.productDetails p {
  font-family: "Iowan";
  font-size: 12px;
  line-height: 150%;
  padding-bottom: 1rem;
}

.details {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 15%;
  padding-bottom: 2rem;
}

.details h2 {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
}

.details p {
  font-family: "Iowan";
  font-size: 12px;
  line-height: 150%;
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-weight: 400;
}

/* Discount */

.discounted {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.discounted h2 {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
}

.discounted p {
  font-family: "Iowan";
  font-size: 12px;
  line-height: 150%;
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-weight: 400;
}

/* Beskrivelse */
.productInformation {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.productInformation p {
  font-family: "Iowan";
  font-size: 12px;
  line-height: 250%;
  padding-bottom: 1rem;
}
