* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--prime-white);
}

/*Layout*/

#productContainer {
  width: 70%;
  margin: 0 auto;
  margin-top: 8rem;
}

/* Overskrift*/

main h2 {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
}

/*styling af billedet*/

figure {
  display: flex;
  justify-content: center;
}

figure .produktimg {
  width: 70%;
  margin: 0 auto;
  margin-top: 15%;
}

/* Produktdetaljer */

.productDetails h3 {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
}

.productDetails p {
  font-family: "Iowan";
  font-size: 12px;
  line-height: 150%;
}

.details {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 15%;
}

.details h2 {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
}

.details p {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 150%;
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-weight: 300;
}

/* Discount */

.discounted {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.discounted h2 {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
}

.discounted p {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 150%;
  padding-left: 1rem;
  font-weight: 300;
}

/* Quantity */

.quantity {
  font-family: "Montserrat";
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
  padding-bottom: 0.25rem;
  margin-left: 10%;
}

.quantity p {
  font-family: "Montserrat";
}

.quantity button:hover {
  background-color: var(--prime-grey);
  color: white;
  border: solid var(--secondary-grey) 1px;
}

/* button: læg i kurv */

.productDetails button {
  background-color: var(--secondary-grey);
  padding: 0.25rem 0.6rem;
  margin-top: 0.25rem;
  border: solid var(--prime-grey) 1px;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.buybutton {
  margin-left: 10rem;
}
.productDetails button:hover {
  background-color: var(--prime-grey);
  color: white;
  border: solid var(--secondary-grey) 1px;
}

/* Beskrivelse */
.productInformation {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.productInformation p {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 250%;
  padding-bottom: 1rem;
}

/* Resonsivt */

@media screen and (min-width: 780px) {
  figure {
    display: block;
    margin: 0 auto;
  }

  figure .produktimg {
    width: 65%;
    margin-top: 10%;
    margin-bottom: 4rem;
  }

  .details {
    margin-top: 30%;
  }

  #productContainer {
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1 fr;
    margin-top: 4rem;
    align-content: center;
    margin: 0 auto;
  }
  .image {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .productDetails {
    margin: 2rem;
    grid-column: 2 / span 4;
    grid-row: 1 / span 2;
    padding-left: 10%;
  }

  .productInformation {
    grid-column: 2 / span 3;
  }
}
